.fab-run {
  position: absolute;
  bottom: 10px;
  right: 10px; }

.full-height {
  height: 100%; }

.fill-height {
  position: relative;
  padding-top: 64px;
  height: 100%; }
  .fill-height > md-toolbar {
    position: absolute;
    top: 0; }
  .fill-height > md-content {
    box-sizing: border-box;
    height: 100%; }

.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75); }

.toolbar-select {
  font-size: 20px;
  text-transform: none; }

.ace_editor {
  font-family: "Roboto Mono","Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace !important;
  font-size: 13px !important;
  height: 100%; }

.file-view {
  background-color: #03A9F4; }

.file-hover-only {
  visibility: hidden;
  pointer-events: none; }

.file-hover {
  background-color: #FFC107; }
  .file-hover .file-hover-only {
    visibility: visible; }

.drop-icon {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #FF9800;
  font-size: 25vw;
  margin-top: -12.5vw;
  text-align: center; }
