.fab-run {
  position: absolute;
  bottom: 10px;
  right: 10px; }

.half-content {
  height: 50%; }

.ace_editor {
  min-height: 500px; }

.file-view {
  background-color: #03A9F4; }
  .file-view.file-hover {
    background-color: #FF9800; }
