<!doctype html>
<html ng-app="FileOperator">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Untitled</title>
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" href="font/material-icons.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body ng-controller="MainCtrl">
		<div layout="row" class="full-height">

			<div class="fill-height" flex>
				<md-toolbar class="shadow" class="md-hue-2">
					<div class="md-toolbar-tools">
						<h2>
							<span>Code</span>
						</h2>
					</div>
				</md-toolbar>
				<md-content class="editor-view">
					<div ui-ace="aceOptions" ng-model="editorCode"></div>
				</md-content>
			</div>

			<div class="fill-height" flex>
				<md-toolbar class="shadow">
					<div class="md-toolbar-tools">
						<h2>
							<span>Files</span>
						</h2>
						<span flex></span>
						<md-menu>
							<md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu()">
								<md-icon>more_vert</md-icon>
							</md-button>
							<md-menu-content width="6">
								<md-menu-item>
									<md-button ng-click="files = []"> <span md-menu-align-target> Clear </span> </md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-content holder class="file-view shadow">
					<md-icon class="file-hover-only drop-icon">open_in_browser</md-icon>
					<md-list class="file-list">
					  <md-list-item class="md-2-line" ng-repeat="(index, file) in files">
							<div class="md-list-item-text">
								<h3>"{{file.name}}" <md-icon>keyboard_arrow_right</md-icon> "{{preview(file.name)}}"</h3>
								<p>{{file.path}}</p>
								<md-icon ng-click="files.pop(index)" class="md-secondary md-warn">clear</md-icon>
							</div>
					  </md-list-item>
					</md-list>
				</md-content>
			</div>

			<md-button class="md-fab fab-run" aria-label="Run" ng-click="run()">
				<md-icon>play_arrow</md-icon>
			</md-button>
		</div>

		<script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<script src="js/holder.js"></script>
		<script src="js/$fs.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>